@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500&display=swap');

body {
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

    background-image: url("/images/bg.svg");
    background-attachment: fixed;
    background-size: cover;
}

.undershape {
    width: 70px;
    height: 7px;
    background-color: #c4c4c4;
    border-radius: 5px;
}

.fw-bold {
    font-weight: 500;
}

.fw-300 {
    font-weight: 300;
}

.vertical-line {
    width: 0;
    height: 60px;
    border: 1px solid #aaa9aa;
}

.card {
    border-radius: 15px;
}
